<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Demo Login App</a>
		<div class="d-flex ms-auto" id="auth-navbar-area">
			<button class="btn btn-outline-primary me-2" id="showRegisterBtn">
				Register
			</button>
			<button class="btn btn-primary" id="showLoginBtn">Login</button>
			<!-- User dropdown will be injected here by JS when logged in -->
		</div>
	</div>
</nav>

<script>
	// Load modal components
	[
		"components/modals/register.html",
		"components/modals/login.html",
		"components/modals/change-password.html",
		"components/modals/update-info.html",
	].forEach((path) => {
		fetch(path)
			.then((res) => res.text())
			.then((html) => document.body.insertAdjacentHTML("beforeend", html));
	});
</script>
