<div
	class="modal fade"
	id="changePasswordModal"
	tabindex="-1"
	aria-labelledby="changePasswordModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form id="changePasswordForm">
					<div class="mb-3">
						<label for="newPassword" class="form-label">New Password</label>
						<input type="password" class="form-control" id="newPassword" required />
					</div>
					<button type="submit" class="btn btn-primary w-100">
						Change Password
					</button>
				</form>
				<div class="mt-2 text-danger" id="changePasswordError"></div>
				<div class="mt-2 text-success" id="changePasswordSuccess"></div>
			</div>
		</div>
	</div>
</div>
