<div
	class="modal fade"
	id="registerModal"
	tabindex="-1"
	aria-labelledby="registerModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="registerModalLabel">Register</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form id="registerForm">
					<div class="mb-3">
						<label for="registerName" class="form-label">Name</label>
						<input type="text" class="form-control" id="registerName" required />
					</div>
					<div class="mb-3">
						<label for="registerNickname" class="form-label"
							>Nickname (optional)</label
						>
						<input type="text" class="form-control" id="registerNickname" />
					</div>
					<div class="mb-3">
						<label for="registerEmail" class="form-label">Email address</label>
						<input type="email" class="form-control" id="registerEmail" required />
					</div>
					<div class="mb-3">
						<label for="registerPassword" class="form-label">Password</label>
						<input
							type="password"
							class="form-control"
							id="registerPassword"
							required
						/>
					</div>
					<button type="submit" class="btn btn-primary w-100">Register</button>
				</form>
				<div class="mt-2 text-danger" id="registerError"></div>
			</div>
		</div>
	</div>
</div>
